@model BookEvent2.Models.EventViewModel


@{
    ViewBag.Title = "EventView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventView</h2>

<div>
    <h4>EventModel</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventModel.OtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventModel.OtherDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.eventModel.EventId }) |
    @Html.ActionLink("Delete", "Delete", new { id = @Model.eventModel.EventId }) |
    @Html.ActionLink("Back to List", "ViewMyEvents")
</p>
<br />
<br />
<br />
<b>Comments</b>
<table class="table">


    @if (Model.Comments != null && Model.Comments.Count() > 0)
    {
        foreach (var comment in Model.Comments)
        {

            <tr>


                <td>
                    <p>@comment.Message</p>
                </td>
                <td>
                    <small class="text-muted">Posted on @comment.Created</small>
                </td>


            </tr>

        }
    }
    else
    {
        <tr>No Comments Yet</tr>
    }
</table>
<br />
<br />
<div>
    <form id="commentForm">
        <div class="form-group">
            <input type="hidden" name="EventId" value="@Model.eventModel.EventId" />
            <textarea class="form-control" name="Text" rows="3" placeholder="Write yor comment"></textarea>
        </div>
    </form>
    <button class="btn btn-success" id="btnComment" type="button">Add Comments</button>
</div>



<script>

    $("#btnComment").click(function (){
        $.ajax(
            {

                url: "@Url.Action("LeaveComment", "Home")",
                type: "Post",
                data: $("#commentForm").serialize()
            }).done(function (response) {
                debugger;
                if (response.Success)
                    {
                        window.location.reload();
                    }
                    else
                    {
                        alert("Error!", response.Message, "error");
                }
            }).fail(function (){
                 alert("Error!", "Error occured. Please try again later.", "error");
        });

    });

</script>
